@CHARSET "ISO-8859-1";

.jumbotron {
	margin: 0 auto;
	background-color: #f4511e;
	color: #FFF;
	padding: 100px 25px;
}

.bg-grey {
	background-color: #f6f6f6;
}

.logo {
	color: #f4511e;
	font-size: 150px;
	margin: 25px 0;
}

.logo-small {
	color: #f4511e;
	font-size: 25px;
	margin: 5px 0;
}

.thumbnail {
	background-color: #fbfbfb;
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
}

.thumbnail img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
	.col-sm-4, .col-sm-8 {
		text-align: center;
		margin: 25px 0;
	}
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
	color: #f4511e;
}

.carousel-indicators li {
	border-color: #f4511e;
}

.carousel-indicators li.active {
	background-color: #f4511e;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}